
body{
    background: #000000 !important;
}

/*Splash Page*/
#splash{
	background-image: url(/Pics/black.jpg) !important;
	background-color: #000000 !important;
}
/*Splash Page*/

/*Top bar*/
#brandingBar{
	background-color: #000000 !important;
}

#playerBar{
	background-color: #000000 !important;
	color: #000000 !important;
}

#topnav{
	color: #FFFFFF !important;
	background-color: #000000 !important;
}
/*Top bar*/

/* Main content */
#mainContent{
	background-color: #000000 !important;
}

#mainContent .stationContent{
	background: #05012b !important;
}
#trackDetail .detail{
	color: #05012b !important;
}

#detailContainer{
	background-color: #05012b !important;
}

#trackDetailContainer{
	background-color: #05012b !important;
}

#trackDetail{
	color: white !important 
}

.detail .heading{
	color: white !important;
}
.contentnav{
    background-color: #05012b !important;
}
.contentContainer .top{
    background-color: #05012b !important;
}
/* Main content */

/* Left Box*/
#promobox{
	display: none !important;
}

.platformPromo{
	display: none !important;
}

.stationName{
	text-shadow: none !important;
	color: #3476c1 !important;
}

#stationSortButtons{
	visibility: hidden !important;
}
/* Left Box */

/* Bottom */
#footer{
    background-color: #000000 !important;
}
/* Bottom */

/* ads */
#ad_container{
	visiblility: hidden !important;
}
/* ads */

/* Music Feed */
.backstage{
	background-color: #05012b !important;
	background: #05012b !important;
}
.backstage h2{
	color: #fff !important;
}
.backstage .header.hdr_feed{
	background-color: #05012b !important;
}
.hdr_feed .hed-1{
	color: #fff !important;
}
.backstage .col-right-profile-header{
	background-color: #05012b !important;
}

/*
.clearfix{
	width: 1000px !important;
}
.stationListItem.selected .options{
	display: none !important;
}