
body{
    background: #000000 !important;
}
/*Top bar*/
#brandingBar{
	background-color: #2D2D2D !important;
}

#playerBar{
	background-color: #000000 !important;
	color: #000000 !important;
}

#topnav{
	color: #FFFFFF !important;
	background-color: #232323 !important;
}
/*Top bar*/

/* Main content */
#mainContent{
	background-color: #000000 !important;
}

#mainContent .stationContent{
	background: #2D2D2D !important;
}
#trackDetail .detail{
	color: #2D2D2D !important;
}

#detailContainer{
	background-color: #2D2D2D !important;
}

#trackDetailContainer{
	background-color: #2D2D2D !important;
}

#trackDetail{
	color: white !important 
}

.detail .heading{
	color: white !important;
}
.contentnav{
    background-color: #001f3f !important;
}
.contentContainer .top{
    background-color: #001f3f !important;
}
/* Main content */

/* Left Box*/
#promobox{
	display: none !important;
}

.platformPromo{
	display: none !important;
}

.stationName{
	text-shadow: none !important;
	color: #3476c1 !important;
}
/* Left Box */

/* Bottom */
#footer{
    background-color: #000000 !important;
}
/* Bottom */

/* ads */
#ad_container{
	visiblility: hidden !important;
}
/* ads */

